/*  MASTER CSS FILE  */


/* BACKGROUND IMAGE */
body {
  background: url("img/DSC07674.jpg");
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #3A3C39;
  font-family:  "Helvetica Neue", Helvetica, sans-serif;
  overflow: hidden;
 }

/* BACKGROUND OVERLAY */
 body::before {
    content: "";
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(159,133,53,0.5);
    background-image: linear-gradient(white, transparent);
  }

/* HEADER/LOGO DIV */

.wrapper{
  /* background-color: gray; */
  width: 100vw;
  height: 65px;
  padding-top: 30px;
  padding-left: 35px;
  border-bottom:5px solid #731117;
}
.content h1 {
  display: inline-block;
  white-space: nowrap;
  /* background-color: #f00; */
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3.7em;
  text-align: left;
  color: #731117;
}

.content p{
  display: inline-block;
  white-space: nowrap;
  color: #5E7143;
  font-size: 1.2em;
  font-weight: 5o0;
  text-align: center;
  font-style: italic;

}

.navbar{
  /* background-color: blue; */
  width: 100vw;
  height: 35px;
}

.navbar ul{
  /* background-color: gray; */
  width: 1075px;
  height: auto;
  margin: 0;

}

.navbar li{
  /* background-color: lightblue; */
  width:10%;
  height: auto;
  display: inline-block;
  padding-left: 5px;
  float: left;
  text-align: center;
  line-height: 44px;
  color: #000;
  font-size: 1em;
  letter-spacing: .1em;
  font-weight: 500;
  cursor: pointer;
  user-select: none;

}
.navbar a{
  text-decoration: none;
  color: black;
  transition: .3s;

}

.navbar a:hover{
    transition: .3s;
    color: #566A35;
  }

/* HEADSHOT PHOTO */

.headshot {
  /* background-color: blue; */
  width: 100vw;
  height: 95px;
  margin: -90px -35px;

}

.headshot img{
  height: 96px;
  float: right;
  margin-right: 40px;

}

.welcome {
  background: rgba(255,255,255,0.4);
  box-shadow: 0 0 30px 10px rgba(255,255,255,0.4);
  width: 400px;
  height: auto;
  margin: 60px 80px;
  padding: 15px;
  letter-spacing: .05em;
  line-height: 1.75em;
  font-family:  Avenir, "Helvetica Neue", Helvetica, sans-serif;
}
  .welcome p{
  font-size: 1.15em;
}

.bio {
  background: rgba(255,255,255,0.45);
  box-shadow: 0 0 30px 10px rgba(255,255,255,0.45);
  width: 700px;
  height: 500px;
  overflow: auto;
  /* display: inline-block; */
  margin: -345px auto 0 600px;
  padding: 15px;
  letter-spacing: .05em;
  line-height: 1.75em;
  font-family:  Avenir, "Helvetica Neue", Helvetica, sans-serif;
}
  .bio p{
  font-size: 1.15em;
}

.bio h1{
  font-size: 2em;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
  font-size: .8em;
  font-weight: 600;
}

.bio h1{
  color: #566A35;
}
