/*  MASTER CSS FILE  */

body {
  background: url("img/DSC07674.JPG");
  width: auto;
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #3A3C39;
 }

h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: DarkBlue;
}

p{
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
  font-style: italic;
}
